html, body {
  padding: 0;
  margin: 0;
}

#toolbar {
  width: 100%;
  background: #444;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  padding: 10px;
  line-height: 24px;
}

#toolbar #tools {
  position: absolute;
  top: 7px;
}

#toolbar #tools select {
  width: 110px;
}

#toolbar #right {
  position: absolute;
  right: 12px;
  top: 11px;
}

#toolbar h1 {
  color: #eee;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 1px;
}

#editor {
  position: absolute;
  top: 44px;
  right: 50%;
  bottom: 0;
  left: 0;
  background: #000;
}

.ace_gutter {
  background: #222 !important;
}

#console {
  position: absolute;
  top: 44px;
  left: 50%;
  bottom: 0;
  right: 0;
  background: #222;
  padding: 10px;
  line-height: 1.1em;
  color: #4f4;
  white-space: pre-wrap;
  font-family: Menlo, Monaco, monospace;
  font-size: 0.8em;
  overflow: auto
}

